.App {
  text-align: center;
  height: 100%;
}

.App-header {
  opacity: .8;
  font-size: 4em;
}

#root {
  height: 100%
  }

.Country{
  text-align: center;
  font-size: 1em;
}

.New-Country {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}

.New-Country .Toggle-form {
  font-size: 2em;
  cursor: pointer;
}
